body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.icon-pencil:before {
    content: "\e905";
}


.icon-bin2:before {
    content: "\e9ad";
}

ul li {
    list-style: none;
}